<header id="pageHeader">
    <div class="header-content-container">
        <!-- Logo/Site Title -->
        <a href="/" title="Home" id="logo">CSE Motors</a>

        <!-- Account Links - Conditional Logic -->
        <% if (locals.loggedin && locals.accountData) { %>
            <!-- SHOW WHEN LOGGED IN -->
            <!-- This "Welcome" link now serves as the link to "My Account" management view -->
            <a href="/account" title="Manage Account" class="account-link welcome-link">
                Welcome <%= locals.accountData.account_firstname %>
            </a>
            <a href="/account/logout" title="Click to log out" class="account-link">Logout</a>
            <% } else { %>
                <!-- SHOW WHEN LOGGED OUT -->
                <a href="/account/login" title="My Account" class="account-link">My Account</a>
                <% } %>
    </div>
</header>