<header id="pageHeader">
    <div class="header-content-container">
        <!-- Logo/Site Title -->
        <a href="/" title="Home" id="logo">CSE Motors</a>

        <!-- Account Links - Conditional Logic -->
        <% if (locals.loggedin && locals.accountData) { %>
            <!-- Show when logged in -->
            <span class="welcome-message">Welcome <%= locals.accountData.account_firstname %></span>
            <a href="/account" title="Manage Account" class="account-link">My Account</a>
            <a href="/account/logout" title="Click to log out" class="account-link">Logout</a>
            <% } else { %>
                <!-- Show when logged out or account data is missing -->
                <a href="/account" title="My Account" class="account-link">My Account</a>
                <% } %>
    </div>
</header>