<header id="pageHeader">
    <div class="header-content-container">
        <!-- Logo/Site Title -->
        <a href="/" title="Home" id="logo">CSE Motors</a>

        <!-- Account Link -->
        <a href="/account" title="My Account" class="account-link">My Account</a>
    </div>
</header>